@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6705ee;
}

.wrapper {
    background: #fff;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    padding: 25px;
}

.wrapper header {
    font-size: 22px;
    font-weight: 600;
}

.wrapper .poll-area {
    margin: 20px 0 15px 0;
}

.poll-area label {
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px 15px;
    border: 2px solid #e7e7e7;
    transition: all 0.2s ease;
}

label.selected {
    border-color: #7775ee;
}

label .row {
    display: flex;
    justify-content: space-between;
}

label .row .column {
    display: flex;
    align-items: center;
}

label .row .circle {
    height: 19px;
    width: 19px;
    position: relative;
    display: block;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

label.selected .row .circle {
    border-color: #7775ee;
}

.row .circle::after {
   content: "";
   position: absolute;
   height: 11px;
   width: 11px;
   background: #ccc;
   top: 2px;
   left: 2px;
   border-radius: inherit;
   display: none;
}

label.selected .row .circle::after {
    display: block;
    background: #7775ee!important;
}

label:hover .row .circle::after {
    display: block;
    background: #e7e7e7;
}

label .row span {
    font-size: 16px;
    font-weight: 500;
}

label .row .percent {
    display: none;
}

label .progress {
    height: 7px;
    width: 100%;
    position: relative;
    margin: 8px 0 3px 0;
    background: #f0f0f0;
    border-radius: 30px;
    display: none;
}

label .progress::after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(1% * var(--w));
    background: #ccc;
    border-radius: inherit;
}

label.selected .progress::after {
    background: #7775ee;
}

label.selectall :is(.percent, .progress) {
    display: block;
}